@model Proyecto
@inject GTPWeb.Services.IProyectoService _proyectoService
@inject GTPWeb.Services.IRolesService _rolesService

@{
    var progreso = _proyectoService.CalcularProgresoProyecto(Model.ID);
    var cantTareas = _proyectoService.CantidadTareasProyecto(Model.ID);
}

<div class="col-12  my-3">
    <div class="card">
        <div class="card-body">
           <div style="display:flex;justify-content:space-between;align-items:center;">
                <h3 class="card-title font-weight-bold mb-2">@Model.Nombre</h3>
                <p class="mb-2">Creador: @_proyectoService.NombreLider(Model.ID)</p>
           </div>
            <p class="card-text text-muted">@Model.Descripcion</p>

            <div class="d-flex justify-content-between">
                <div class="row">
                    <div class="ml-3">
                        @if (Model.FechaInicio.HasValue)
                        {
                            <p class=""><strong>Start:</strong> @Model.FechaInicio.Value.ToString("MMMM dd, yyyy")</p>
                        }
                    </div>
                    <div class="mx-4">
                        @if (Model.FechaFin.HasValue)
                        {
                            <p><strong>Due:</strong> @Model.FechaFin.Value.ToString("MMMM dd, yyyy")</p>
                        }
                    </div>
                </div>
            </div>
            <div style="display:flex;justify-content:space-between;align-items:center;">
                <p>Progreso: @progreso %</p> 
                <p>Tareas por hacer: @cantTareas</p>
            </div>
            <div class="progress mb-1" style="height: 8px;">
                
                <div class="progress-bar bg-success" role="progressbar" style="width: @progreso%;" aria-valuenow="@progreso" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            
        </div>
    </div>
</div>



<script>
    function confirmDelete(projectId) {
        if (confirm('Seguro que quiere eliminar el proyecto?(se eliminaran todo lo relacionado con este proyecto).')) {
            // Redirect to the delete action if confirmed
            window.location.href = '@Url.Action("Delete", "Proyectos")/' + projectId;
        }
    }
</script>
